*{
    margin:0;
    padding:0;

}

header1 {
    background-image: url('http://res.cloudinary.com/rhyjudd/image/upload/v1503599051/minecraft3_wt8h8e.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;

}

header1 h1{
    font-size: 50px;
    color:#C4C8ED;
    font-family: 'Barrio', cursive;
    
    
}

header1 p{
    font-size: 20px;


}

header1 .button{
    font-size:18px;
    text-decoration: none;
    color:#6E7084;
    border:#7912ce 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}

header1 .button:hover{
    background:#6E7084;
    color:#fff;
}

#section-a{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    background:#39393B;
    padding:4em;
    



}



.section-container{
    background:#6E7084;
    color:#fff;
    padding: 2em;
    border-radius:10px;
    margin:2em;
    font-size: 16px; 
    border:#FFFFFF 1px solid; 
    min-width: 90%;
    word-wrap: break-word;
    text-shadow: -1px 1px 0 #000,
               -1px -1px 0 #000,
               1px -1px 0 #000,
                1px 1px 0 #000;
    
}





table{
    margin:0;
    padding:0;

}
 
td{
  font-size: .65em;
}